<div class="container">
    <h1>Bienvenido</h1>
    <h3>A mi primer aplicación en Ruby on Rails</h3>
    <hr>
    <p>Selecciona un CRUD</p>
    <%= link_to new_marca_path, class: "btn btn-info" do %>
        <i class="fa fa-tags"></i> Marcas
      <% end %>
        <%= link_to new_producto_path, class: "btn btn-info" do %>
        <i class="fa fa-shopping-cart"></i> Productos
      <% end %>
</div>
<footer class="footer navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted">&copy;2017 Rosario Guadalupe Luis Rodríguez</p>
      </div>
    </footer>
