<div class="container">
    <h1>Bienvenido</h1>
    <h3>A mi primer aplicación en Ruby on Rails</h3>
    <hr>
    <p>Selecciona un CRUD</p>
    <%= link_to new_marca_path, class: "btn btn-info" do %>
        <i class="fa fa-plus-circle"></i> Marcas
      <% end %>
<%#= link_to 'Productos', controller: 'productos' %>
</div>
